!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport'}
    %meta{content: 'ie=edge', :'http-equiv' => 'x-ua-compatible'}
    %title pokemon-js by Superpencil
    %link{rel: 'shortcut icon', href: '/favicon.ico', type: 'image/x-icon'}
    %link{rel: 'icon', href: '/favicon.ico', type: 'image/x-icon'}
    %link{href: 'main.css', rel: 'stylesheet'}
  %body
    #pokemon
      .depth
        .layer.foe
          .info
            .balls
              %img{src: 'img/blue_balls.svg'}
            .stats
              .name
              .level-wrap
                %img{src: 'img/level.svg'}
                %span.level
              .hp-wrap
                %img{src: 'img/hp.svg'}
                .hp-bar
                  .hp-bar-active
          .images
            .trainer
              %img{src: 'img/blue_front.svg'}
            .pokemon
              %img{src: 'img/eevee_front.svg'}
        .layer.player
          .images
            .trainer
              %img{src: 'img/red_back.svg'}
            .pokemon
              %img{src: 'img/pikachu_back.svg'}
          .info
            .balls
              %img{src: 'img/red_balls.svg'}
            .stats
              .name
              .level-wrap
                %img{src: 'img/level.svg'}
                %span.level
              .hp-wrap
                %img{src: 'img/hp.svg'}
                .hp-bar
                  .hp-bar-active
              .health
                %span.hp
                %span /
                %span.hpTotal
        .layer.windows
          .window.texts
            .text.text1
            .text.text2
          .window.menu
            %span.button.fight FIGHT
            %span.button.pkmn
              %sup P
              %sub K
              %sup M
              %sub N
            %span.button.item ITEM
            %span.button.run RUN
          .window.fight
            #move0.button
            #move1.button
            #move2.button
            .button.back cancel
            .window.fight-details
              %span.type-header TYPE/
              %span.type NORMAL
          .window.item
            .button.potion
              %span POTION x
              %span.potionCount 1
            .button.back cancel
          .window.pkmn
            .button.playerPokemonButton
              %span.playerpokemonname
            .button.back cancel

    .text-area
      %p
        pokemon-js by
        %a{href: 'http://www.superpencil.com'} Superpencil

    %script{crossorigin: 'anonymous', integrity: 'sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7', src: 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'}
    -# %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js'}
    %script{src: 'pokemon-min.js'}
