@font-face {
  font-family: "Pokemon";
  src: url("../public/fonts/pokemon-normal.woff2") format("woff2"),
    url("../public/fonts/pokemon-normal.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pokemon";
  src: url("../public/fonts/pokemon-italic.woff2") format("woff2"),
    url("../public/fonts/pokemon-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
html {
  font-size: 10px;
}
body {
  background-color: #bbac58;
  color: #2f3622;
  font-family: "Pokemon", monospace;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #fce600;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #7d7f4c;
}
::-moz-selection {
  background: #4d5d31;
  color: #bbac58;
}
::selection {
  background: #4d5d31;
  color: #bbac58;
}
.gb-dark {
  fill: #2f3622;
}
.gb-normal {
  fill: #4d5d31;
}
.gb-light {
  fill: #7d7f4c;
}
.wrapper {
  display: none;
  width: 16rem;
  height: 14.4rem;
  position: relative;
}
/* every odd item */
.window.menu .button:nth-child(odd) {
  margin-right: 1rem;
}
.button:hover {
  cursor: pointer;
  position: relative;
}
.button:hover:before {
  position: absolute;
  background-image: url("../public/img/marker.svg");
  background-repeat: no-repeat;
  left: -0.8rem;
  top: 0.1rem;
  width: 0.5rem;
  height: 0.7rem;
  background-size: 0.5rem;
  content: "";
}
img,
svg {
  width: 100%;
  height: auto;
}
.layer {
  position: absolute;
  width: 16rem;
  height: 14.4rem;
  overflow: hidden;
}
.images {
  position: absolute;
  width: 5.6rem;
}
.info {
  position: absolute;
  width: 7.7rem;
}
.name {
  height: 1.1rem;
}
.balls {
  margin-top: 1.6rem;
}
.stats {
  background-position: bottom;
  background-size: 7.7rem;
  background-repeat: no-repeat;
}
.level-wrap {
  margin-top: -0.1rem;
  height: 0.8rem;
}
.level-wrap img,
.level-wrap svg {
  width: 0.6rem;
  display: inline-block;
  margin-right: 0.1rem;
}
.health {
  margin-left: 2.5rem;
}
.health span {
  display: inline-block;
  width: 1.6rem;
}
.hp-wrap {
  height: 0.9rem;
}
.hp-wrap img,
.hp-wrap svg {
  width: 1.1rem;
  display: inline-block;
}
.hp-bar {
  border: 0.1rem solid #2f3622;
  border-radius: 0.4rem;
  height: 0.3rem;
  width: 4.8rem;
  display: inline-block;
  margin-left: 0.25rem;
  display: inline-block;
}
.hp-bar-active {
  background-color: #7d7f4c;
  height: 100%;
  width: 100%;
  border-radius: 0.4rem;
}
.foe .images {
  right: 0.8rem;
}
.foe .info {
  left: 1.1rem;
}
.foe .stats {
  height: 3rem;
  background-image: url("../public/img/blue_line.svg");
}
.foe .name {
  margin-left: -0.3rem;
  margin-top: -0.1rem;
}
.foe .level-wrap {
  margin-left: 2.2rem;
}
.foe .hp-wrap {
  margin-left: 0.6rem;
}
.player {
  padding-top: 4rem;
}
.player .images {
  left: 0.8rem;
}
.player .info {
  right: 1.1rem;
}
.player .stats {
  background-image: url("../public/img/red_line.svg");
}
.player .name {
  margin-left: 1rem;
  margin-top: 1.8rem;
}
.player .level-wrap {
  margin-left: 4.1rem;
}
.player .hp-wrap {
  margin-left: 0.9rem;
}
.player .balls {
  margin-top: 4rem;
}
.windows .window {
  position: absolute;
  -o-border-image: url("../public/img/frame.svg") 45% stretch;
  border-image: url("../public/img/frame.svg") 45% stretch;
  border-style: solid;
  border-width: 0.7rem;
  background: #bbac58;
}
.windows .window.texts {
  margin: 0;
  height: 3.2rem;
  left: 0.1rem;
  right: 0.1rem;
  bottom: 0.1rem;
}
.windows .window.texts .text span {
  height: 1rem;
  width: 1rem;
  display: inline-block;
}
.windows .window.texts .text.text1 {
  margin-top: 0.5rem;
}
.windows .window.texts .text.text2 {
  margin-top: 0.1rem;
}
.windows .window.menu {
  display: none;
  bottom: 0.1rem;
  right: 0.1rem;
  height: 2.7rem;
  width: 7.4rem;
  padding: 0.5rem 0 0 0.8rem;
}
.windows .window.menu sup,
.windows .window.menu sub {
  display: inline-block;
  font-size: 0.5rem;
  margin: 0;
  padding: 0;
}
.windows .window.fight {
  display: none;
  bottom: 0.1rem;
  right: 0.1rem;
  left: 3.3rem;
  min-height: 4.6rem;
  padding: 0.5rem 0 0 0.8rem;
}
.windows .window.fight .fight-details {
  top: -3.9rem;
  left: -3.9rem;
  width: 6.6rem;
  height: 2.4rem;
}
.windows .window.fight .fight-details span {
  height: 0.8rem;
  margin-top: -0.3rem;
}
.windows .window.item {
  display: none;
  top: 1.7rem;
  bottom: 4.1rem;
  left: 3.3rem;
  right: 0.1rem;
  padding: 0.6rem;
}
.windows .window.pkmn {
  display: none;
  top: 0.1rem;
  bottom: 0.1rem;
  left: 0.1rem;
  right: 0.1rem;
}
